.headingContainer {
    width: 100%;
    height: 100px;
    background-color: blue;
    font-size: 30px;
    text-align: center;
    color: white;
}
 
.headingContainer div {
    position: relative;
    width: 33%;
} 

.scorecard {
    right: 0px;
}